<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/assets/styles.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
    <title>Rekog</title>
</head>

<body class="simple-style" onLoad="activateUI('<%= ui.flow.activateDiv %>','<%= ui.flow.activateButton %>')">

    <%- include('partials/title-bar.ejs'); %>

    <div class="padded">
        <!-- Form Partials -->

        <%- include('partials/file-picker.ejs'); %>
        <br>
        <hr>

        </td>
        <table width="100%">
            <tr>
                <td width='40%'>
                    <%- include('partials/image-display.ejs'); %>
                </td>
                <td width='60%>'>
                    <%- include('partials/result-buttons.ejs'); %>
                    <%- include('partials/label-result.ejs'); %>
                    <%- include('partials/label-result.ejs') %>
                    <%- include('partials/text-result.ejs') %>
                    <%- include('partials/face-result.ejs') %>                
                </td>
            </tr>
        </table>


        <%- include('partials/debug.ejs'); %>
    </div>

</body>

</html>

<%- include('partials/ui-scripts.ejs'); %>

</body>

</html>